page-contacto {

    font-weight: 300;

    h2 {
        text-align: left;
        font-size: 2.7rem;
        background: transparent;
        margin-left: 2rem;
    }

    h3 {
        text-align: left;
        font-size: 2rem;
        background: transparent;
        margin-left: 3rem;
    }

    ion-slide {

        position: relative;
        background-size: cover;

        h2 {
            text-align: left;
            font-size: 2.7rem;
            background: transparent;
            margin-left: 2rem;
        }

        h3 {
            text-align: left;
            font-size: 2rem;
            background: transparent;
            margin-left: 3rem;
        }

    }

    .swiper-pagination-bullet {
        background: rgba(7, 10, 4, 1);
    }

    .slides-0 {
        height: inherit
    }
;

    .slides-1 {
        height: inherit
    }
;

    .slides-2 {
        height: inherit
    }
;

    .slides-3 {
        height: inherit
    }
;

    .slides-4 {
        height: inherit
    }
;

    .swiper-slide {
        height: inherit
    }
;

    .swiper-wrapper {
        height: inherit
    }
;

    .swiper-container {
        height: auto
    }
;

    .slide-zoom {
        margin-bottom: auto;
    }

}